---
layout: default
title: Staff
---

<h1>Staff</h1>

<ul>
  {% for post in site.posts %}
    <li>
      <h2><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h2>
        <h2><a href="{{site.baseurl}}{{ author.url }}">{{ post.author }}</a></h2>
      
    
    </li>
  {% endfor %}
</ul>