---
layout: default
---




<!-- End Categories Section -->
 <main id="content" role="main">
   
    <!-- Search Section -->
    <div class="bg-navy">
      <div class="bg-img-hero-center" style="background-image: url({{ 'assets/svg/components/abstract-shapes-19.svg'| relative_url }});">
        <div class="container space-1">
          <div class="w-lg-80 mx-lg-auto">
            <!-- Input -->
            <form class="input-group input-group-merge input-group-borderless">
              <div class="input-group-prepend">
                <span class="input-group-text" id="askQuestions">
                  <i class="fas fa-search"></i>
                </span>
              </div>
              <input type="search" class="form-control" placeholder="Search for answers" aria-label="Search for answers" aria-describedby="askQuestions">
            </form>
            <!-- End Input -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Search Section -->

    <!-- Article Section -->
    <div class="container space-bottom-2">
      <div class="w-lg-80 mx-lg-auto">
        <!-- Breadcrumbs -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-no-gutter font-size-1 space-1">
            <li class="breadcrumb-item"><a href="index.html">Front Help Center</a></li>
            <li class="breadcrumb-item"><a href="listing.html">Getting started</a></li>
            <li class="breadcrumb-item active" aria-current="page">What's Front?</li>
          </ol>
        </nav>
        <!-- End Breadcrumbs -->
  
     
<!-- Categories Section -->
    <div class="col-lg-3 mb-5 mb-lg-0">
      <!-- Navbar -->
      <div class="navbar-expand-lg navbar-expand-lg-collapse-block navbar-light">
        <!-- Responsive Toggle Button -->
        <button type="button" class="navbar-toggler btn btn-block border py-3"
                aria-label="Toggle navigation"
                aria-expanded="false"
                aria-controls="sidebarNavExample3"
                data-toggle="collapse"
                data-target="#sidebarNavExample3">
          <span class="d-flex justify-content-between align-items-center">
            <span class="h5 mb-0">View all categories</span>
            <span class="navbar-toggler-default">
              <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z"/>
              </svg>
            </span>
            <span class="navbar-toggler-toggled">
              <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
              </svg>
            </span>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <div id="sidebarNavExample3" class="collapse navbar-collapse">
          <!-- Nav Link -->
          <div class="pl-2 pl-lg-0 mt-3 mt-lg-0">
            <div class="position-relative">
              <a class="dropdown-nav-link dropdown-toggle dropdown-toggle-collapse" href="javascript:;" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="sidebarNav1Collapse" data-target="#sidebarNav1Collapse">
                Electronic devices
              </a>

              <div id="sidebarNav1Collapse" class="collapse" data-parent="#sidebarNavExample3">
                <div id="sidebarNav1" class="navbar-nav align-items-start flex-column">
                  <div class="position-relative">
                    <a class="dropdown-item dropdown-toggle dropdown-toggle-collapse" href="javascript:;" data-target="#sidebarNav1One" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="sidebarNav1One">
                      Electronic accessories
                    </a>
                    <div id="sidebarNav1One" class="navbar-nav flex-column collapse" data-parent="#sidebarNav1">
                      <a class="dropdown-item" href="#">Mobile accessories</a>
                      <a class="dropdown-item" href="#">Portable audio</a>
                      <a class="dropdown-item" href="#">Wearable</a>
                      <a class="dropdown-item" href="#">Console accessories</a>
                      <a class="dropdown-item" href="#">Camera accessories</a>
                      <a class="dropdown-item" href="#">Computer accessories</a>
                      <a class="dropdown-item" href="#">Storage</a>
                      <a class="dropdown-item" href="#">Printers</a>
                      <a class="dropdown-item" href="#">Computer components</a>
                    </div>
                  </div>
                  <a class="dropdown-item" href="#">Mobiles</a>
                  <a class="dropdown-item" href="#">Tablets</a>
                  <a class="dropdown-item" href="#">Laptops</a>
                  <a class="dropdown-item" href="#">Desktops</a>
                  <a class="dropdown-item" href="#">Gaming consoles</a>
                  <a class="dropdown-item" href="#">Car cameras</a>
                  <a class="dropdown-item" href="#">Security cameras</a>
                  <a class="dropdown-item" href="#">Digital cameras</a>
                  <a class="dropdown-item" href="#">Gadgets</a>
                </div>
              </div>
            </div>

            <a class="dropdown-item px-0" href="#">
              Clothing
            </a>

            <div class="position-relative">
              <a class="dropdown-nav-link dropdown-toggle dropdown-toggle-collapse" href="javascript:;" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="sidebarNav2Collapse" data-target="#sidebarNav2Collapse">
                TV & home appliances
              </a>

              <div id="sidebarNav2Collapse" class="collapse" data-parent="#sidebarNavExample3">
                <div id="sidebarNav2" class="navbar-nav align-items-start flex-column">
                  <div class="position-relative">
                    <a class="dropdown-item dropdown-toggle dropdown-toggle-collapse" href="javascript:;" data-target="#sidebarNav2One" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="sidebarNav2One">
                      TV & video devices
                    </a>
                    <div id="sidebarNav2One" class="navbar-nav flex-column collapse" data-parent="#sidebarNav2">
                      <a class="dropdown-item" href="#">Accessories</a>
                    </div>
                  </div>
                  <div class="position-relative">
                    <a class="dropdown-item dropdown-toggle dropdown-toggle-collapse" href="javascript:;" data-target="#sidebarNav2Two" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="sidebarNav2Two">
                      Large appliances
                    </a>
                    <div id="sidebarNav2Two" class="navbar-nav flex-column collapse" data-parent="#sidebarNav2">
                      <a class="dropdown-item" href="#">Kitchen</a>
                      <a class="dropdown-item" href="#">Living room</a>
                    </div>
                  </div>
                  <a class="dropdown-item" href="#">Cooling & air treatment</a>
                  <a class="dropdown-item" href="#">Vacuums & floor care</a>
                </div>
              </div>
            </div>

            <div class="position-relative">
              <a class="dropdown-nav-link dropdown-toggle dropdown-toggle-collapse" href="javascript:;" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="sidebarNav3Collapse" data-target="#sidebarNav3Collapse">
                Health & beauty
              </a>

              <div id="sidebarNav3Collapse" class="collapse" data-parent="#sidebarNavExample3">
                <div id="sidebarNav3" class="navbar-nav align-items-start flex-column">
                  <a class="dropdown-item" href="#">Food supplements</a>
                  <a class="dropdown-item" href="#">Skincare</a>
                  <a class="dropdown-item" href="#">Makeup</a>
                  <div class="position-relative">
                    <a class="dropdown-item dropdown-toggle dropdown-toggle-collapse" href="javascript:;" data-target="#sidebarNav3One" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="sidebarNav3One">
                      Beauty tools
                    </a>
                    <div id="sidebarNav3One" class="navbar-nav flex-column collapse" data-parent="#sidebarNav3">
                      <a class="dropdown-item" href="#">Men</a>
                      <a class="dropdown-item" href="#">Women</a>
                    </div>
                  </div>
                  <div class="position-relative">
                    <a class="dropdown-item dropdown-toggle dropdown-toggle-collapse" href="javascript:;" data-target="#sidebarNav3Two" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="sidebarNav3Two">
                      Medical supplies
                    </a>
                    <div id="sidebarNav3Two" class="navbar-nav flex-column collapse" data-parent="#sidebarNav3">
                      <a class="dropdown-item" href="#">Bath & body</a>
                      <a class="dropdown-item" href="#">Hair care</a>
                      <a class="dropdown-item" href="#">Personal care</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <a class="dropdown-item px-0" href="#">
              Accessories
            </a>

            <a class="dropdown-item px-0" href="#">
              Furniture
            </a>

            <a class="dropdown-item px-0" href="#">
              Casual
            </a>

            <div class="position-relative">
              <a class="dropdown-nav-link dropdown-toggle dropdown-toggle-collapse" href="javascript:;" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="sidebarNav4Collapse" data-target="#sidebarNav4Collapse">
                Babies & toys
              </a>

              <div id="sidebarNav4Collapse" class="collapse" data-parent="#sidebarNavExample3">
                <div id="sidebarNav4" class="navbar-nav align-items-start flex-column">
                  <div class="position-relative">
                    <a class="dropdown-item dropdown-toggle dropdown-toggle-collapse" href="javascript:;" data-target="#sidebarNav4One" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="sidebarNav4One">
                      Foods
                    </a>
                    <div id="sidebarNav4One" class="navbar-nav flex-column collapse" data-parent="#sidebarNav4">
                      <a class="dropdown-item" href="#">Feeding</a>
                      <a class="dropdown-item" href="#">Milk formula</a>
                    </div>
                  </div>
                  <a class="dropdown-item" href="#">Diapering & potty</a>
                  <a class="dropdown-item" href="#">Nursery</a>
                  <a class="dropdown-item" href="#">Baby personal care</a>
                  <a class="dropdown-item" href="#">Clothing & accessories</a>
                  <a class="dropdown-item" href="#">Baby and & toys</a>
                </div>
              </div>
            </div>

            <a class="dropdown-item px-0" href="#">
              Sports & travel
            </a>

            <a class="dropdown-item px-0" href="#">
              Fashion
            </a>

            <a class="dropdown-item px-0" href="#">
              Glasses
            </a>

            <div class="position-relative">
              <a class="dropdown-nav-link dropdown-toggle dropdown-toggle-collapse" href="javascript:;" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="sidebarNav5Collapse" data-target="#sidebarNav5Collapse">
                Automotive & motorcycles
              </a>

              <div id="sidebarNav5Collapse" class="collapse" data-parent="#sidebarNavExample3">
                <div id="sidebarNav5" class="navbar-nav align-items-start flex-column">
                  <div class="position-relative">
                    <a class="dropdown-item dropdown-toggle dropdown-toggle-collapse" href="javascript:;" data-target="#sidebarNav5One" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="sidebarNav5One">
                      Automotive
                    </a>
                    <div id="sidebarNav5One" class="navbar-nav flex-column collapse" data-parent="#sidebarNav5">
                      <a class="dropdown-item" href="#">Services & installations</a>
                      <a class="dropdown-item" href="#">Auto oils & fluids</a>
                    </div>
                  </div>
                  <a class="dropdown-item" href="#">Interior accessories</a>
                  <a class="dropdown-item" href="#">Exterior accessories</a>
                  <a class="dropdown-item" href="#">Car audio</a>
                  <a class="dropdown-item" href="#">Auto care</a>
                  <a class="dropdown-item" href="#">Riding gear</a>
                  <div class="position-relative">
                    <a class="dropdown-item dropdown-toggle dropdown-toggle-collapse" href="javascript:;" data-target="#sidebarNav6One" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="sidebarNav6One">
                      Automotive
                    </a>
                    <div id="sidebarNav6One" class="navbar-nav flex-column collapse" data-parent="#sidebarNav5">
                      <a class="dropdown-item" href="#">Services & installations</a>
                      <a class="dropdown-item" href="#">Auto oils & fluids</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Nav Link -->
          </div>
        </div>
      </div>
      <!-- End Navbar -->
    </div>
  
        <!-- Article -->
        <div class="card border p-4 p-md-7">
          <h1 class="h2">What's Front?</h1>
          <p>How Front works, what it can do for your business and what makes it different to other solutions.</p>

          <!-- Article Authors -->
          <div class="media mb-5">
            <div class="avatar avatar-xs avatar-circle mr-2">
              <img class="avatar-img" src=" {{ 'assets/img/100x100/img1.jpg'| relative_url }}" alt="Image Description">
            </div>

            <div class="media-body">
              <small class="d-block">
                <span class="text-muted">Written by</span>
                <span class="text-dark">Luisa Woodfine</span>
              </small>
              <small class="d-block text-body">
                Updated over a week ago
              </small>
            </div>
          </div>
          <!-- End Article Authors -->

          <p>Front is an incredibly beautiful, fully responsive, and mobile-first projects on the web – it is the perfect starting point for any creative and professional sites. Get started with Front's components and options for laying out your Front project, including SVG components, powerful scripts, fully detailed documentation, and yet developer friendly code.</p>

          <h2 class="h3">Free updates and support</h2>
          <p>We would like to draw your attention to the fact that after purchasing a Front Template copy, you get the right for a <span class="font-weight-bold">lifetime</span> entitlement to download updates for <span class="font-weight-bold">FREE!</span> Need help? For any questions or concerns, reach us out at <a href="mailto:hello@example.com">hello@example.com</a>.</p>

          <ul class="list-article">
            <li><span class="font-weight-bold">Free updates:</span> Front offers a lifetime free updates. This means you will never pay for any bug-fixes and compatibility upgrades for your theme, ever.</li>
            <li><span class="font-weight-bold">Technical support:</span> As always, our Customer Support team is available 24/7 to answer any questions you might have. We will do our best to get back to you within <span class="font-weight-bold">24-48 hours</span>.</li>
          </ul>

          <p>Front Template is built by the team that has customers in the background such us Stanford University, The University of Maryland, University of Victoria and many more Governments, Corporate Agencies. To bring the most modern look of any HTML5 template across all Marketplaces – powered by Bootstrap 4, Front sets the new standard with breathtaking design, top-notch support, and incredible featured packed updates that will save your precious time and gives trendy look to all your web projects. On top of that the creators of Bootstrap have closely monitored the ongoing process of the Front and helped to achieve an enormous result.</p>

          <!-- Resolved -->
          <div class="text-center border-top border-bottom my-6 py-6">
            <h4 class="mb-4">
              <i class="far fa-paper-plane mr-1"></i>
              Was this article helpful?
            </h4>

            <button type="button" class="btn btn-sm btn-primary btn-wide mb-2 mx-1">Yes, thanks!</button>
            <button type="button" class="btn btn-sm btn-soft-primary btn-wide mb-2 mx-1">Not really</button>
          </div>
         

         
          <!-- End Related Articles -->
        </div>
        <!-- End Article -->
      </div>
    </div>
    <!-- End Article Section -->
  </main>
  <!-- ========== END MAIN ========== -->

  <!-- ========== FOOTER ========== -->
  <footer class="bg-navy">
    <div class="container">
      <div class="space-top-2 space-bottom-1 space-bottom-lg-2">
        <div class="row justify-content-lg-between">
          <div class="col-lg-3 ml-lg-auto mb-5 mb-lg-0">
            <!-- Logo -->
            <div class="mb-4">
              <a href="index.html" aria-label="Front">
                <img class="brand" src="../../assets/svg/logos/logo-white.svg" alt="Logo">
              </a>
            </div>
            <!-- End Logo -->

            <!-- Nav Link -->
            <ul class="nav nav-sm nav-x-0 nav-white flex-column">
              <li class="nav-item">
                <a class="nav-link media" href="javascript:;">
                  <span class="media">
                    <span class="fas fa-location-arrow mt-1 mr-2"></span>
                    <span class="media-body">
                      153 Williamson Plaza, Maggieberg
                    </span>
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link media" href="tel:1-062-109-9222">
                  <span class="media">
                    <span class="fas fa-phone-alt mt-1 mr-2"></span>
                    <span class="media-body">
                      +1 (062) 109-9222
                    </span>
                  </span>
                </a>
              </li>
            </ul>
            <!-- End Nav Link -->
          </div>

          <div class="col-6 col-md-3 col-lg mb-5 mb-lg-0">
            <h5 class="text-white">Company</h5>

            <!-- Nav Link -->
            <ul class="nav nav-sm nav-x-0 nav-white flex-column">
              <li class="nav-item"><a class="nav-link" href="#">About</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Careers <span class="badge badge-primary ml-1">We're hiring</span></a></li>
              <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Customers</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Hire us</a></li>
            </ul>
            <!-- End Nav Link -->
          </div>

          <div class="col-6 col-md-3 col-lg mb-5 mb-lg-0">
            <h5 class="text-white">Features</h5>

            <!-- Nav Link -->
            <ul class="nav nav-sm nav-x-0 nav-white flex-column">
              <li class="nav-item"><a class="nav-link" href="#">Press</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Release notes</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Integrations</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
            </ul>
            <!-- End Nav Link -->
          </div>

          <div class="col-6 col-md-3 col-lg">
            <h5 class="text-white">Documentation</h5>

            <!-- Nav Link -->
            <ul class="nav nav-sm nav-x-0 nav-white flex-column">
              <li class="nav-item"><a class="nav-link" href="#">Support</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Docs</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Status</a></li>
              <li class="nav-item"><a class="nav-link" href="#">API Reference</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Tech Requirements</a></li>
            </ul>
            <!-- End Nav Link -->
          </div>

          <div class="col-6 col-md-3 col-lg">
            <h5 class="text-white">Resources</h5>

            <!-- Nav Link -->
            <ul class="nav nav-sm nav-x-0 nav-white flex-column">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span class="media align-items-center">
                    <i class="fa fa-info-circle mr-2"></i>
                    <span class="media-body">Help</span>
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span class="media align-items-center">
                    <i class="fa fa-user-circle mr-2"></i>
                    <span class="media-body">Your Account</span>
                  </span>
                </a>
              </li>
            </ul>
            <!-- End Nav Link -->
          </div>
        </div>
      </div>

      <hr class="opacity-xs my-0">

      <div class="space-1">
        <div class="row align-items-md-center mb-7">
          <div class="col-md-6 mb-4 mb-md-0">
            <!-- Nav Link -->
            <ul class="nav nav-sm nav-white nav-x-sm align-items-center">
              <li class="nav-item">
                <a class="nav-link" href="#">Privacy &amp; Policy</a>
              </li>
              <li class="nav-item opacity mx-3">&#47;</li>
              <li class="nav-item">
                <a class="nav-link" href="#">Terms</a>
              </li>
              <li class="nav-item opacity mx-3">&#47;</li>
              <li class="nav-item">
                <a class="nav-link" href="#">Site Map</a>
              </li>
            </ul>
            <!-- End Nav Link -->
          </div>

          <div class="col-md-6 text-md-right">
            <ul class="list-inline mb-0">
              <!-- Social Networks -->
              <li class="list-inline-item">
                <a class="btn btn-xs btn-icon btn-soft-light" href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-xs btn-icon btn-soft-light" href="#">
                  <i class="fab fa-google"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-xs btn-icon btn-soft-light" href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-xs btn-icon btn-soft-light" href="#">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <!-- End Social Networks -->

              <!-- Language -->
              <li class="list-inline-item">
                <div class="hs-unfold">
                  <a class="js-hs-unfold-invoker dropdown-toggle btn btn-xs btn-soft-light" href="javascript:;"
                     data-hs-unfold-options='{
                      "target": "#footerLanguage",
                      "type": "css-animation",
                      "animationIn": "slideInDown"
                     }'>
                    <img class="dropdown-item-icon" src="../../assets/vendor/flag-icon-css/flags/4x3/us.svg" alt="United States Flag">
                    <span>United States</span>
                  </a>

                  <div id="footerLanguage" class="hs-unfold-content dropdown-menu dropdown-unfold dropdown-menu-bottom mb-2">
                    <a class="dropdown-item active" href="#">English</a>
                    <a class="dropdown-item" href="#">Deutsch</a>
                    <a class="dropdown-item" href="#">Español</a>
                    <a class="dropdown-item" href="#">Français</a>
                    <a class="dropdown-item" href="#">Italiano</a>
                    <a class="dropdown-item" href="#">日本語</a>
                    <a class="dropdown-item" href="#">한국어</a>
                    <a class="dropdown-item" href="#">Nederlands</a>
                    <a class="dropdown-item" href="#">Português</a>
                    <a class="dropdown-item" href="#">Русский</a>
                  </div>
                </div>
              </li>
              <!-- End Language -->
            </ul>
          </div>
        </div>

        <!-- Copyright -->
        <div class="w-md-75 text-lg-center mx-lg-auto">
          <p class="text-white opacity-sm small">&copy; Front. 2020 Htmlstream. All rights reserved.</p>
          <p class="text-white opacity-sm small">When you visit or interact with our sites, services or tools, we or our authorised service providers may use cookies for storing information to help provide you with a better, faster and safer experience and for marketing purposes.</p>
        </div>
        <!-- End Copyright -->
      </div>
    </div>
  </footer>
  <!-- ========== END FOOTER ========== -->

  <!-- ========== SECONDARY CONTENTS ========== -->
  <!-- Account Sidebar Navigation -->
  <aside id="sidebarContent" class="hs-unfold-content sidebar">
    <div class="sidebar-scroller">
      <div class="sidebar-container">
        <div class="sidebar-footer-offset" style="padding-bottom: 7rem;">
          <!-- Toggle Button -->
          <div class="d-flex justify-content-end align-items-center pt-4 px-4">
            <div class="hs-unfold">
              <a class="js-hs-unfold-invoker btn btn-icon btn-xs btn-soft-secondary" href="javascript:;"
                 data-hs-unfold-options='{
                  "target": "#sidebarContent",
                  "type": "css-animation",
                  "animationIn": "fadeInRight",
                  "animationOut": "fadeOutRight",
                  "hasOverlay": "rgba(55, 125, 255, 0.1)",
                  "smartPositionOff": true
                 }'>
                <svg width="10" height="10" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
                </svg>
               </a>
            </div>
          </div>
          <!-- End Toggle Button -->

          <!-- Content -->
          <div class="scrollbar sidebar-body">
            <div class="sidebar-content py-4 px-7">
              <form class="js-validate">
                <!-- Login -->
                <div id="login">
                  <!-- Title -->
                  <div class="text-center mb-7">
                    <h3 class="mb-0">Sign In to Front</h3>
                    <p>Login to manage your account.</p>
                  </div>
                  <!-- End Title -->

                  <!-- Input Group -->
                  <div class="js-form-message mb-4">
                    <label class="input-label">Email</label>
                    <div class="input-group input-group-sm mb-2">
                      <input type="email" class="form-control" name="email" id="signinEmail" placeholder="Email" aria-label="Email" required
                             data-msg="Please enter a valid email address.">
                    </div>
                  </div>
                  <!-- End Input Group -->

                  <!-- Input Group -->
                  <div class="js-form-message mb-3">
                    <label class="input-label">Password</label>
                    <div class="input-group input-group-sm mb-2">
                      <input type="password" class="form-control" name="password" id="signinPassword" placeholder="Password" aria-label="Password" required
                             data-msg="Your password is invalid. Please try again.">
                    </div>
                  </div>
                  <!-- End Input Group -->

                  <div class="d-flex justify-content-end mb-4">
                    <a class="js-animation-link small link-underline" href="javascript:;"
                       data-hs-show-animation-options='{
                         "targetSelector": "#forgotPassword",
                         "groupName": "idForm",
                         "animationType": "css-animation",
                         "animationIn": "slideInUp",
                         "duration": 400
                       }'>Forgot Password?</a>
                  </div>

                  <div class="mb-3">
                    <button type="submit" class="btn btn-sm btn-primary btn-block">Sign In</button>
                  </div>

                  <div class="text-center mb-3">
                    <span class="divider divider-xs divider-text">OR</span>
                  </div>

                  <a class="btn btn-sm btn-ghost-secondary btn-block mb-2" href="#">
                    <span class="d-flex justify-content-center align-items-center">
                      <img class="mr-2" src="../../assets/img/160x160/img17.png" alt="Image Description" width="14" height="14">
                      Sign In with Google
                    </span>
                  </a>

                  <div class="text-center">
                    <span class="small text-muted">Do not have an account?</span>
                    <a class="js-animation-link small font-weight-bold" href="javascript:;"
                       data-hs-show-animation-options='{
                         "targetSelector": "#signup",
                         "groupName": "idForm",
                         "animationType": "css-animation",
                         "animationIn": "slideInUp",
                         "duration": 400
                       }'>Sign Up
                    </a>
                  </div>
                </div>

                <!-- Signup -->
                <div id="signup" style="display: none; opacity: 0;">
                  <!-- Title -->
                  <div class="text-center mb-7">
                    <h3 class="mb-0">Create your account</h3>
                    <p>Fill out the form to get started.</p>
                  </div>
                  <!-- End Title -->

                  <!-- Input Group -->
                  <div class="js-form-message mb-4">
                    <label class="input-label">Email</label>
                    <div class="input-group input-group-sm mb-2">
                      <input type="email" class="form-control" name="email" id="signupEmail" placeholder="Email" aria-label="Email" required
                             data-msg="Please enter a valid email address.">
                    </div>
                  </div>
                  <!-- End Input Group -->

                  <!-- Input Group -->
                  <div class="js-form-message mb-4">
                    <label class="input-label">Password</label>
                    <div class="input-group input-group-sm mb-2">
                      <input type="password" class="form-control" name="password" id="signupPassword" placeholder="Password" aria-label="Password" required
                             data-msg="Your password is invalid. Please try again.">
                    </div>
                  </div>
                  <!-- End Input Group -->

                  <!-- Input Group -->
                  <div class="js-form-message mb-4">
                    <label class="input-label">Confirm Password</label>
                    <div class="input-group input-group-sm mb-2">
                      <input type="password" class="form-control" name="confirmPassword" id="signupConfirmPassword" placeholder="Confirm Password" aria-label="Confirm Password" required
                             data-msg="Password does not match the confirm password.">
                    </div>
                  </div>
                  <!-- End Input Group -->

                  <div class="mb-3">
                    <button type="submit" class="btn btn-sm btn-primary btn-block">Sign Up</button>
                  </div>

                  <div class="text-center mb-3">
                    <span class="divider divider-xs divider-text">OR</span>
                  </div>

                  <a class="btn btn-sm btn-ghost-secondary btn-block mb-2" href="#">
                    <span class="d-flex justify-content-center align-items-center">
                      <img class="mr-2" src="../../assets/img/160x160/img17.png" alt="Image Description" width="14" height="14">
                      Sign Up with Google
                    </span>
                  </a>

                  <div class="text-center">
                    <span class="small text-muted">Already have an account?</span>
                    <a class="js-animation-link small font-weight-bold" href="javascript:;"
                       data-hs-show-animation-options='{
                         "targetSelector": "#login",
                         "groupName": "idForm",
                         "animationType": "css-animation",
                         "animationIn": "slideInUp",
                         "duration": 400
                       }'>Sign In
                    </a>
                  </div>
                </div>
                <!-- End Signup -->

                <!-- Forgot Password -->
                <div id="forgotPassword" style="display: none; opacity: 0;">
                  <!-- Title -->
                  <div class="text-center mb-7">
                    <h3 class="mb-0">Recover password</h3>
                    <p>Instructions will be sent to you.</p>
                  </div>
                  <!-- End Title -->

                  <!-- Input Group -->
                  <div class="js-form-message">
                    <label class="sr-only" for="recoverEmail">Your email</label>
                    <div class="input-group input-group-sm mb-2">
                      <input type="email" class="form-control" name="email" id="recoverEmail" placeholder="Your email" aria-label="Your email" required
                             data-msg="Please enter a valid email address.">
                    </div>
                  </div>
                  <!-- End Input Group -->

                  <div class="mb-3">
                    <button type="submit" class="btn btn-sm btn-primary btn-block">Recover Password</button>
                  </div>

                  <div class="text-center mb-4">
                    <span class="small text-muted">Remember your password?</span>
                    <a class="js-animation-link small font-weight-bold" href="javascript:;"
                       data-hs-show-animation-options='{
                         "targetSelector": "#login",
                         "groupName": "idForm",
                         "animationType": "css-animation",
                         "animationIn": "slideInUp",
                         "duration": 400
                       }'>Login
                    </a>
                  </div>
                </div>
                <!-- End Forgot Password -->
              </form>
            </div>
          </div>
          <!-- End Content -->
        </div>

        <!-- Footer -->
        <footer class="sidebar-footer border-top py-2 px-7">
          <ul class="nav nav-sm">
            <li class="nav-item">
              <a class="nav-link pl-0" href="#">Privacy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Terms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fas fa-info-circle la-lg"></i>
              </a>
            </li>
          </ul>
        </footer>
        <!-- End Footer -->
      </div>
    </div>
  </aside>