<style>
.active{
   color: #377dff;
    background-color: rgba(55, 125, 255, 0.1);
}
</style>


 <!-- Categories Section -->
<div class="container">
  <div class="row">
    <div class="col-lg-3 mb-5 mb-lg-0">
      <!-- Navbar -->
      <div class="navbar-expand-lg navbar-expand-lg-collapse-block navbar-light">
        <!-- Responsive Toggle Button -->
        <button type="button" class="navbar-toggler btn btn-block border py-3"
                aria-label="Toggle navigation"
                aria-expanded="false"
                aria-controls="sidebarNavExample3"
                data-toggle="collapse"
                data-target="#sidebarNavExample3">
          <span class="d-flex justify-content-between align-items-center">
            <span class="h5 mb-0">View all categories</span>
            <span class="navbar-toggler-default">
              <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z"/>
              </svg>
            </span>
            <span class="navbar-toggler-toggled">
              <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
              </svg>
            </span>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <div id="sidebarNavExample3" class="collapse navbar-collapse">
          <!-- Nav Link -->
            <div class="pl-2 pl-lg-0 mt-3 mt-lg-0">
      {% for section in site.data.docs %}
	  
            <div class="position-relative">
				{% assign collapsed = true %}
				{% for item in section.docs %}
				{% if item.subdocs != null %}
				{% for subitem in item.subdocs %}
				{% assign item_url = subitem | prepend:"/docs/" | append:"/" %}
				{% if item_url == page.url %}
				{% assign collapsed = false %}
				{% endif %}
				{% endfor %}
				{% else %}
				{% assign item_url = item | prepend:"/docs/" | append:"/" %}
				{% if item_url == page.url %}
				{% assign collapsed = false %}
				{% endif %}
				{% endif %}
				{% endfor %}
              <a class="dropdown-nav-link dropdown-toggle dropdown-toggle-collapse {% if collapsed %} collapsed{% endif %}" href="javascript:;" role="button" data-toggle="collapse" aria-expanded="{% if collapsed %} false {% else %}true{% endif %}" aria-controls="sidebarNav{{forloop.index}}Collapse" data-target="#sidebarNav{{forloop.index}}Collapse">
                {{ section.title }}
              </a>
				
              <div id="sidebarNav{{forloop.index}}Collapse" class="{% if collapsed %} collapse {% else %}collapse show{% endif %}" data-parent="#sidebarNavExample3">
                <div id="sidebarNav{{forloop.index}}" class="navbar-nav align-items-start flex-column">
        <div class="position-relative">
         {% for item in section.docs %}		 
         {% if item.subdocs != null %}
                    <div id="sidebarNav{{forloop.index}}" class="navbar-nav align-items-start flex-column">
					{% assign collapsed = true %}
					{% for item in item.subdocs %}
					{% assign item_url = item | prepend:"/docs/" | append:"/" %}
					{% if item_url == page.url %}
					{% assign collapsed = false %}
					{% endif %}
					{% endfor %}
                    <a class="dropdown-item dropdown-toggle dropdown-toggle-collapse {% if collapsed %} collapsed{% endif %}" href="javascript:;" data-target="#sidebarNav{{forloop.index}}One" role="button" data-toggle="collapse" aria-expanded="{% if collapsed %} false {% else %}true{% endif %}" aria-controls="sidebarNav{{forloop.index}}One">
                      {{ item.subtitle }}
                    </a>
                    <div id="sidebarNav{{forloop.index}}One" class="navbar-nav flex-column {% if collapsed %} collapse {% else %}collapse show{% endif %}" data-parent="#sidebarNav{{forloop.index}}">
            {% for subitem in item.subdocs %}
            {% assign item_url = subitem | prepend:"/docs/" | append:"/" %}
            {% assign p = site.docs | where:"url", item_url | first %}
            <a class="dropdown-item {% if item_url == page.url %}active{% endif %}" href="{{ p.url  | relative_url }}">{{ p.title }}</a>
            {% endfor %}
                    </div>
          </div>
          {% else %}
         {% assign item_url = item | prepend:"/docs/" | append:"/" %}
         {% assign p = site.docs | where:"url", item_url | first %}
         <a class="dropdown-item {% if item_url == page.url %}active{% endif %}" href="{{ p.url  | relative_url }}">{{ p.title }}</a>
        
         {% endif %}
         {% endfor %}
         
         </div>
      </div>
      </div>
	   </div>
      {% endfor %}


        </div>
      </div>
      <!-- End Navbar -->
    </div>
  </div>
</div>
</div>
