 <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
     data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'>
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- End Go to Top -->

  <!-- JS Global Compulsory -->
  <script src="{{ 'assets/vendor/jquery/dist/jquery.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/vendor/jquery-migrate/dist/jquery-migrate.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' | relative_url }}"></script>

  <!-- JS Implementing Plugins -->
  <script src="{{ 'assets/vendor/hs-header/dist/hs-header.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/vendor/hs-go-to/dist/hs-go-to.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/vendor/hs-unfold/dist/hs-unfold.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/vendor/hs-show-animation/dist/hs-show-animation.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/vendor/jquery-validation/dist/jquery.validate.min.js' | relative_url }}"></script>

  <!-- JS Front -->
  <script src="{{ 'assets/js/hs.core.js/hs.core.js' | relative_url }}"></script>
  <script src="{{ 'assets/js/hs.validation.js' | relative_url }}"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of header
      var header = new HSHeader($('#header')).init();

      // initialization of mega menu
      var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
        desktop: {
          position: 'left'
        }
      }).init();

      // initialization of unfold
      var unfold = new HSUnfold('.js-hs-unfold-invoker').init();

      // initialization of show animations
      $('.js-animation-link').each(function () {
        var showAnimation = new HSShowAnimation($(this)).init();
      });

      // initialization of form validation
      $('.js-validate').each(function() {
        $.HSCore.components.HSValidation.init($(this), {
          rules: {
            confirmPassword: {
              equalTo: '#signupPassword'
            }
          }
        });
      });

      // initialization of go to
      $('.js-go-to').each(function () {
        var goTo = new HSGoTo($(this)).init();
      });
    });
  </script>

  <!-- IE Support -->
  <script>
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="{{ 'assets/vendor/polifills.js' | relative_url }}"><\/script>');
  </script>
