<head>
  <!-- Title -->
  <title>Blog Single Article | Front - Responsive Website Template</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ 'favicon.ico' | relative_url }}">

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">

 <!-- CSS Implementing Plugins -->
 <link rel="stylesheet" href="{{ 'assets/vendor/font-awesome/css/all.min.css ' | relative_url }}">


<link rel="stylesheet" href="{{ 'assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css' | relative_url }}">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="{{ 'assets/css/theme.css' | relative_url }}">
</head>