<!-- ========== FOOTER ========== -->
  <footer class="bg-navy">
    <div class="container">
      <div class="space-top-2 space-bottom-1 space-bottom-lg-2">
        <div class="row justify-content-lg-between">
          <div class="col-lg-3 ml-lg-auto mb-5 mb-lg-0">
            <!-- Logo -->
            <div class="mb-4">
              <a href="index.html" aria-label="Front">
                <img class="brand" src="{{'assets/svg/logos/logo-white.svg' | relative_url }}" alt="Logo">
              </a>
            </div>
            <!-- End Logo -->

            <!-- Nav Link -->
            <ul class="nav nav-sm nav-x-0 nav-white flex-column">
              <li class="nav-item">
                <a class="nav-link media" href="javascript:;">
                  <span class="media">
                    <span class="fas fa-location-arrow mt-1 mr-2"></span>
                    <span class="media-body">
                      153 Williamson Plaza, Maggieberg
                    </span>
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link media" href="tel:1-062-109-9222">
                  <span class="media">
                    <span class="fas fa-phone-alt mt-1 mr-2"></span>
                    <span class="media-body">
                      +1 (062) 109-9222
                    </span>
                  </span>
                </a>
              </li>
            </ul>
            <!-- End Nav Link -->
          </div>

          <div class="col-6 col-md-3 col-lg mb-5 mb-lg-0">
            <h5 class="text-white">Company</h5>

            <!-- Nav Link -->
            <ul class="nav nav-sm nav-x-0 nav-white flex-column">
              <li class="nav-item"><a class="nav-link" href="#">About</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Careers <span class="badge badge-primary ml-1">We're hiring</span></a></li>
              <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Customers</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Hire us</a></li>
            </ul>
            <!-- End Nav Link -->
          </div>

          <div class="col-6 col-md-3 col-lg mb-5 mb-lg-0">
            <h5 class="text-white">Features</h5>

            <!-- Nav Link -->
            <ul class="nav nav-sm nav-x-0 nav-white flex-column">
              <li class="nav-item"><a class="nav-link" href="#">Press</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Release notes</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Integrations</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
            </ul>
            <!-- End Nav Link -->
          </div>

          <div class="col-6 col-md-3 col-lg">
            <h5 class="text-white">Documentation</h5>

            <!-- Nav Link -->
            <ul class="nav nav-sm nav-x-0 nav-white flex-column">
              <li class="nav-item"><a class="nav-link" href="#">Support</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Docs</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Status</a></li>
              <li class="nav-item"><a class="nav-link" href="#">API Reference</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Tech Requirements</a></li>
            </ul>
            <!-- End Nav Link -->
          </div>

          <div class="col-6 col-md-3 col-lg">
            <h5 class="text-white">Resources</h5>

            <!-- Nav Link -->
            <ul class="nav nav-sm nav-x-0 nav-white flex-column">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span class="media align-items-center">
                    <i class="fa fa-info-circle mr-2"></i>
                    <span class="media-body">Help</span>
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span class="media align-items-center">
                    <i class="fa fa-user-circle mr-2"></i>
                    <span class="media-body">Your Account</span>
                  </span>
                </a>
              </li>
            </ul>
            <!-- End Nav Link -->
          </div>
        </div>
      </div>

      <hr class="opacity-xs my-0">

      <div class="space-1">
        <div class="row align-items-md-center mb-7">
          <div class="col-md-6 mb-4 mb-md-0">
            <!-- Nav Link -->
            <ul class="nav nav-sm nav-white nav-x-sm align-items-center">
              <li class="nav-item">
                <a class="nav-link" href="#">Privacy &amp; Policy</a>
              </li>
              <li class="nav-item opacity mx-3">&#47;</li>
              <li class="nav-item">
                <a class="nav-link" href="#">Terms</a>
              </li>
              <li class="nav-item opacity mx-3">&#47;</li>
              <li class="nav-item">
                <a class="nav-link" href="#">Site Map</a>
              </li>
            </ul>
            <!-- End Nav Link -->
          </div>

          <div class="col-md-6 text-md-right">
            <ul class="list-inline mb-0">
              <!-- Social Networks -->
              <li class="list-inline-item">
                <a class="btn btn-xs btn-icon btn-soft-light" href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-xs btn-icon btn-soft-light" href="#">
                  <i class="fab fa-google"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-xs btn-icon btn-soft-light" href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-xs btn-icon btn-soft-light" href="#">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <!-- End Social Networks -->

              <!-- Language -->
              <li class="list-inline-item">
                <div class="hs-unfold">
                  <a class="js-hs-unfold-invoker dropdown-toggle btn btn-xs btn-soft-light" href="javascript:;"
                     data-hs-unfold-options='{
                      "target": "#footerLanguage",
                      "type": "css-animation",
                      "animationIn": "slideInDown"
                     }'>
                    <img class="dropdown-item-icon" src="{{'assets/vendor/flag-icon-css/flags/4x3/us.svg' | relative_url }}" alt="United States Flag">
                    <span>United States</span>
                  </a>

                  <div id="footerLanguage" class="hs-unfold-content dropdown-menu dropdown-unfold dropdown-menu-bottom mb-2">
                    <a class="dropdown-item active" href="#">English</a>
                    <a class="dropdown-item" href="#">Deutsch</a>
                    <a class="dropdown-item" href="#">Español</a>
                    <a class="dropdown-item" href="#">Français</a>
                    <a class="dropdown-item" href="#">Italiano</a>
                    <a class="dropdown-item" href="#">日本語</a>
                    <a class="dropdown-item" href="#">한국어</a>
                    <a class="dropdown-item" href="#">Nederlands</a>
                    <a class="dropdown-item" href="#">Português</a>
                    <a class="dropdown-item" href="#">Русский</a>
                  </div>
                </div>
              </li>
              <!-- End Language -->
            </ul>
          </div>
        </div>

        <!-- Copyright -->
        <div class="w-md-75 text-lg-center mx-lg-auto">
          <p class="text-white opacity-sm small">&copy; Front. 2020 Htmlstream. All rights reserved.</p>
          <p class="text-white opacity-sm small">When you visit or interact with our sites, services or tools, we or our authorised service providers may use cookies for storing information to help provide you with a better, faster and safer experience and for marketing purposes.</p>
        </div>
        <!-- End Copyright -->
      </div>
    </div>
  </footer>
  <!-- ========== END FOOTER ========== -->

  <!-- ========== SECONDARY CONTENTS ========== -->
  <!-- Account Sidebar Navigation -->
  <aside id="sidebarContent" class="hs-unfold-content sidebar">
    <div class="sidebar-scroller">
      <div class="sidebar-container">
        <div class="sidebar-footer-offset" style="padding-bottom: 7rem;">
          <!-- Toggle Button -->
          <div class="d-flex justify-content-end align-items-center pt-4 px-4">
            <div class="hs-unfold">
              <a class="js-hs-unfold-invoker btn btn-icon btn-xs btn-soft-secondary" href="javascript:;"
                 data-hs-unfold-options='{
                  "target": "#sidebarContent",
                  "type": "css-animation",
                  "animationIn": "fadeInRight",
                  "animationOut": "fadeOutRight",
                  "hasOverlay": "rgba(55, 125, 255, 0.1)",
                  "smartPositionOff": true
                 }'>
                <svg width="10" height="10" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
                </svg>
               </a>
            </div>
          </div>
          <!-- End Toggle Button -->

          <!-- Content -->
          <div class="scrollbar sidebar-body">
            <div class="sidebar-content py-4 px-7">
              <form class="js-validate">
                <!-- Login -->
                <div id="login">
                  <!-- Title -->
                  <div class="text-center mb-7">
                    <h3 class="mb-0">Sign In to Front</h3>
                    <p>Login to manage your account.</p>
                  </div>
                  <!-- End Title -->

                  <!-- Input Group -->
                  <div class="js-form-message mb-4">
                    <label class="input-label">Email</label>
                    <div class="input-group input-group-sm mb-2">
                      <input type="email" class="form-control" name="email" id="signinEmail" placeholder="Email" aria-label="Email" required
                             data-msg="Please enter a valid email address.">
                    </div>
                  </div>
                  <!-- End Input Group -->

                  <!-- Input Group -->
                  <div class="js-form-message mb-3">
                    <label class="input-label">Password</label>
                    <div class="input-group input-group-sm mb-2">
                      <input type="password" class="form-control" name="password" id="signinPassword" placeholder="Password" aria-label="Password" required
                             data-msg="Your password is invalid. Please try again.">
                    </div>
                  </div>
                  <!-- End Input Group -->

                  <div class="d-flex justify-content-end mb-4">
                    <a class="js-animation-link small link-underline" href="javascript:;"
                       data-hs-show-animation-options='{
                         "targetSelector": "#forgotPassword",
                         "groupName": "idForm",
                         "animationType": "css-animation",
                         "animationIn": "slideInUp",
                         "duration": 400
                       }'>Forgot Password?</a>
                  </div>

                  <div class="mb-3">
                    <button type="submit" class="btn btn-sm btn-primary btn-block">Sign In</button>
                  </div>

                  <div class="text-center mb-3">
                    <span class="divider divider-xs divider-text">OR</span>
                  </div>

                  <a class="btn btn-sm btn-ghost-secondary btn-block mb-2" href="#">
                    <span class="d-flex justify-content-center align-items-center">
                      <img class="mr-2" src="{{'assets/img/160x160/img17.png' | relative_url }}" alt="Image Description" width="14" height="14">
                      Sign In with Google
                    </span>
                  </a>

                  <div class="text-center">
                    <span class="small text-muted">Do not have an account?</span>
                    <a class="js-animation-link small font-weight-bold" href="javascript:;"
                       data-hs-show-animation-options='{
                         "targetSelector": "#signup",
                         "groupName": "idForm",
                         "animationType": "css-animation",
                         "animationIn": "slideInUp",
                         "duration": 400
                       }'>Sign Up
                    </a>
                  </div>
                </div>

                <!-- Signup -->
                <div id="signup" style="display: none; opacity: 0;">
                  <!-- Title -->
                  <div class="text-center mb-7">
                    <h3 class="mb-0">Create your account</h3>
                    <p>Fill out the form to get started.</p>
                  </div>
                  <!-- End Title -->

                  <!-- Input Group -->
                  <div class="js-form-message mb-4">
                    <label class="input-label">Email</label>
                    <div class="input-group input-group-sm mb-2">
                      <input type="email" class="form-control" name="email" id="signupEmail" placeholder="Email" aria-label="Email" required
                             data-msg="Please enter a valid email address.">
                    </div>
                  </div>
                  <!-- End Input Group -->

                  <!-- Input Group -->
                  <div class="js-form-message mb-4">
                    <label class="input-label">Password</label>
                    <div class="input-group input-group-sm mb-2">
                      <input type="password" class="form-control" name="password" id="signupPassword" placeholder="Password" aria-label="Password" required
                             data-msg="Your password is invalid. Please try again.">
                    </div>
                  </div>
                  <!-- End Input Group -->

                  <!-- Input Group -->
                  <div class="js-form-message mb-4">
                    <label class="input-label">Confirm Password</label>
                    <div class="input-group input-group-sm mb-2">
                      <input type="password" class="form-control" name="confirmPassword" id="signupConfirmPassword" placeholder="Confirm Password" aria-label="Confirm Password" required
                             data-msg="Password does not match the confirm password.">
                    </div>
                  </div>
                  <!-- End Input Group -->

                  <div class="mb-3">
                    <button type="submit" class="btn btn-sm btn-primary btn-block">Sign Up</button>
                  </div>

                  <div class="text-center mb-3">
                    <span class="divider divider-xs divider-text">OR</span>
                  </div>

                  <a class="btn btn-sm btn-ghost-secondary btn-block mb-2" href="#">
                    <span class="d-flex justify-content-center align-items-center">
                      <img class="mr-2" src="{{'assets/img/160x160/img17.png' | relative_url }}" alt="Image Description" width="14" height="14">
                      Sign Up with Google
                    </span>
                  </a>

                  <div class="text-center">
                    <span class="small text-muted">Already have an account?</span>
                    <a class="js-animation-link small font-weight-bold" href="javascript:;"
                       data-hs-show-animation-options='{
                         "targetSelector": "#login",
                         "groupName": "idForm",
                         "animationType": "css-animation",
                         "animationIn": "slideInUp",
                         "duration": 400
                       }'>Sign In
                    </a>
                  </div>
                </div>
                <!-- End Signup -->

                <!-- Forgot Password -->
                <div id="forgotPassword" style="display: none; opacity: 0;">
                  <!-- Title -->
                  <div class="text-center mb-7">
                    <h3 class="mb-0">Recover password</h3>
                    <p>Instructions will be sent to you.</p>
                  </div>
                  <!-- End Title -->

                  <!-- Input Group -->
                  <div class="js-form-message">
                    <label class="sr-only" for="recoverEmail">Your email</label>
                    <div class="input-group input-group-sm mb-2">
                      <input type="email" class="form-control" name="email" id="recoverEmail" placeholder="Your email" aria-label="Your email" required
                             data-msg="Please enter a valid email address.">
                    </div>
                  </div>
                  <!-- End Input Group -->

                  <div class="mb-3">
                    <button type="submit" class="btn btn-sm btn-primary btn-block">Recover Password</button>
                  </div>

                  <div class="text-center mb-4">
                    <span class="small text-muted">Remember your password?</span>
                    <a class="js-animation-link small font-weight-bold" href="javascript:;"
                       data-hs-show-animation-options='{
                         "targetSelector": "#login",
                         "groupName": "idForm",
                         "animationType": "css-animation",
                         "animationIn": "slideInUp",
                         "duration": 400
                       }'>Login
                    </a>
                  </div>
                </div>
                <!-- End Forgot Password -->
              </form>
            </div>
          </div>
          <!-- End Content -->
        </div>

        <!-- Footer -->
        <footer class="sidebar-footer border-top py-2 px-7">
          <ul class="nav nav-sm">
            <li class="nav-item">
              <a class="nav-link pl-0" href="#">Privacy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Terms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fas fa-info-circle la-lg"></i>
              </a>
            </li>
          </ul>
        </footer>
        <!-- End Footer -->
      </div>
    </div>
  </aside>
  <!-- End Account Sidebar Navigation -->
  <!-- ========== END SECONDARY CONTENTS ========== -->

  <!-- Go to Top -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
     data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'>
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- End Go to Top -->

  <!-- JS Global Compulsory -->
  <script src="{{ 'assets/vendor/jquery/dist/jquery.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/vendor/jquery-migrate/dist/jquery-migrate.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' | relative_url }}"></script>

  <!-- JS Implementing Plugins -->
  <script src="{{ 'assets/vendor/hs-header/dist/hs-header.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/vendor/hs-go-to/dist/hs-go-to.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/vendor/hs-unfold/dist/hs-unfold.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/vendor/hs-show-animation/dist/hs-show-animation.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/vendor/jquery-validation/dist/jquery.validate.min.js' | relative_url }}"></script>

  <!-- JS Front -->
  <script src="{{ 'assets/js/hs.core.js/hs.core.js' | relative_url }}"></script>
  <script src="{{ 'assets/js/hs.validation.js' | relative_url }}"></script>



  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of header
      var header = new HSHeader($('#header')).init();

      // initialization of mega menu
      var megaMenu = new HSMegaMenu($('.js-mega-menu')).init();

      // initialization of unfold
      var unfold = new HSUnfold('.js-hs-unfold-invoker').init();

      // initialization of show animations
      $('.js-animation-link').each(function () {
        var showAnimation = new HSShowAnimation($(this)).init();
      });

      // initialization of form validation
      $('.js-validate').each(function() {
        $.HSCore.components.HSValidation.init($(this), {
          rules: {
            confirmPassword: {
              equalTo: '#signupPassword'
            }
          }
        });
      });

      // initialization of go to
      $('.js-go-to').each(function () {
        var goTo = new HSGoTo($(this)).init();
      });
    });
  </script>

  <!-- IE Support -->
  <script>
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="{{'assets/vendor/polifills.js' | relative_url }}"><\/script>');
  </script>
