---
layout: nav_defualt
---




    <!-- Search Section -->
    <div class="bg-navy">
      <div class="bg-img-hero-center" style="background-image: url(assets/svg/components/abstract-shapes-19.svg);">
        <div class="container space-1">
          <div class="w-lg-80 mx-lg-auto">
            <!-- Input -->
            <form class="input-group input-group-merge input-group-borderless">
              <div class="input-group-prepend">
                <span class="input-group-text" id="askQuestions">
                  <i class="fas fa-search"></i>
                </span>
              </div>
              <input type="search" class="form-control" placeholder="Search for answers" aria-label="Search for answers" aria-describedby="askQuestions">
            </form>
            <!-- End Input -->
          </div>
        </div>
      </div>
    </div>
    <!-- Description Section -->
    <div class="container space-bottom-2">
      <div class="w-lg-100 mx-lg-auto">
        
 
  

<br>
<br>
        <nav aria-label="breadcrumb">
          
          <ol class="breadcrumb breadcrumb-no-gutter font-size-1 space-1">
                <li class="breadcrumb-item"><a href="{{ site.baseurl }}/doc">DOCS</a></li>
                {% if page.section %}
                <li class="breadcrumb-item"><a href="{{ site.baseurl }}/docs/{{ page.section }}/{{ page.section }}">{{ page.section }}</a></li>
                {% if page.sub-section %}
                <li class="breadcrumb-item"><a href="{{ site.baseurl }}/docs/{{ page.section }}/{{ page.sub-section }}/{{ page.sub-section }}">{{ page.sub-section }}</a></li>
                {% endif %}
                {% endif %}
                <li class="breadcrumb-item active " aria-current="page">{{ page.title }}</li>

          </ol>
                   


        </nav> 
        <!-- End Breadcrumbs -->
  <div class="row">
    <div class="col-md-4 mb-3 mb-md-5 mb-lg-0">
      
    <!-- Categories Section -->
 {% include docs_nav.html %}
 </div>

    <div class="col-md-8">
      <!-- Project -->
        <!-- Article -->
        <div class="card border p-2 p-md-4">
          <h1 class="h2">{{ page.title }}</h1>
        <!--  <p>How Front works, what it can do for your business and what makes it different to other solutions.</p>

           Article Authors
          <div class="media mb-5">
            <div class="avatar avatar-xs avatar-circle mr-2">
              <img class="avatar-img" src="../../assets/img/100x100/img1.jpg" alt="Image Description">
            </div>

            <div class="media-body">
              <small class="d-block">
                <span class="text-muted">Written by</span>
                <span class="text-dark">Luisa Woodfine</span>
              </small>
              <small class="d-block text-body">
                Updated over a week ago
              </small>
            </div>
          </div> -->
          <!-- End Article Authors -->

        <p>{{content}}</p>
          <!-- Resolved -->
        
        </div>
      <!-- End Project -->
    </div>

  </div>
</div>
