<!DOCTYPE html>
<html lang="en">
  {% include nav_head.html %}

<body>
     {% include nav_header.html %}

  <!-- ========== HEADER ========== -->
    <main id="content" role="main">
        {{ content }}

</main>
<!-- ========== MAIN ========== -->

 {% include  nav_footer.html %}
</body>
        </html>

